@import "tps-variables";

.page-about{
  .tps-about-header{
    p:last-child{
      max-width: 940px;
      margin: 0 auto;
    }
  }

  .tps-mot{
    text-transform: capitalize;
  }

  .tps-team-member-block {
    border: 1px solid $tps-general-border-color;
    margin: 15px 0;
    @include tps-image-box-shadow();

    .tps-team-member-image {
      position: relative;
      width: 100%;
      border-bottom: 1px solid $tps-general-border-color;

      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }

      .tps-team-member-image-overlay{
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.15);
        opacity: 0;
        @include tps-flex;
        @include tps-justify-content(center);
        @include tps-align-items(flex-end);
        @include transition(opacity 300ms ease);

        @media (max-width: $screen-phone){
          opacity: 1;
        }

        .tps-btn{
          background: #fff;
          color: $text-color !important;
          margin-bottom: 10px;
        }
      }
    }

    &:hover{
      .tps-team-member-image-overlay{
        opacity: 1;
      }
    }

    img,
    .tps-team-member-no-image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: auto !important;
      @include tps-flex;
      @include tps-justify-content(center);
      @include tps-align-items(center);
      color: #aaa;
    }
    .tps-team-member-info{
      padding: 10px;
      background: #fff;
      h5, div, a{
        margin: 0;
        @include text-overflow;
      }
      .tps-team-member-profession,
      .tps-contact-me{
        font-size: 0.8em;
      }
      .tps-contact-me:hover{
        text-decoration: none;
      }
    }
  }
}