@import "tps-variables";

.tps-posts-grid{
  margin-top: 20px;
  margin-bottom: 20px;

  .tps-blog-item-container {
    position: relative;
    border: 1px solid $tps-general-border-color;
    @include tps-image-box-shadow();

    &:hover{
      .tps-post-icons{
        @include transition(opacity 300ms linear);
        opacity: 1;
      }
      .tps-overlay{
        opacity: .15;
      }
    }

    a {
      color: $text-color;

      &:hover, &:focus {
        text-decoration: none;
        color: $link-color;
      }
    }
  }
  .tps-blog-item-image{
    position: relative;
  }
  .tps-blog-item-no-image{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    i{
      color: $text-muted;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
    }
  }
  .tps-post-icons{
    margin-top: -41px;
    position: absolute;
    width: 100%;
    padding: 0 10px;
    opacity: 0;
  }
  .tps-blog-item-video{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    object, embed, iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .tps-blog-item-info{
    padding: 10px;
    background: #fff;
  }
  .tps-blog-item-title,
  .tps-blog-item-categories,
  .tps-blog-item-author{
    margin: 5px 0px;
  }
  .tps-blog-item-categories,
  .tps-blog-item-author{
    @include text-overflow();
    height: 1.4em;
  }
  .tps-blog-item-title{
    overflow: hidden;
    font-size: 1.2em;
    font-weight: $tps-bold;
    height: 2.2em;
    @media (max-width: $screen-phone){
      font-size: 1.1em;
      font-weight: normal;
      height: 2.1em;
    }
  }
  .tps-blog-item-author{
    span{
      display: block;
      width: 50%;
      float: left;
    }
    .tps-author{
      @include text-overflow();
      @media (max-width: ($screen-phone)) {
        width: 100%;
      }
    }
    .tps-post-date{
      @include text-overflow();
      text-align: right;
      @media (max-width: $screen-phone) {
        display: none;
      }
    }
  }
}