@import "tps-variables";

.tps-blog-single-image{
  @include tps-image-box-shadow(1);
}

.tps-image-text-container{
  .tps-blog-post-header{
    padding: 20px 40px;
    max-width: 680px;
    text-align: center;
  }
  .tps-blog-post-categories{
    margin-top: 15px;
    margin-bottom: 15px;
    a {
      display: inline-block;
      background: #fff;
      color: $text-color;
      @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
      &:hover{
        text-decoration: none;
      }
    }
  }
  .tps-blog-post-title{
    font-size: $font-size-h2;
    margin: 0;
    @media (max-width: $screen-phone){
      font-size: floor($font-size-h2 / 1.3);
    }
  }
  .tps-author {
    a{
      color: #fff;
      &:hover{
        //color: $link-color;
        //text-decoration: none;
      }
    }
  }
  .tps-post-icons{
    .tps-btn-social{
      color: #fff !important;
    }
  }
}

.tps-blog-post-content{
  margin-top: 40px;
}

.single-wrapper{
  .post-navigation{
    .nav-links{
      @include tps-flex();
    }
    .nav-previous,
    .nav-next{
      display: block;
      width: 50%;
      border: 1px solid $tps-general-border-color;
      background: #fff;
      @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
      a{
        display: block;
        color: $text-color;
        text-decoration: none;
        padding-top: 3px;
        &:before{
          font-family: 'FontAwesome';
          margin: -1px 5px 0 5px;
        }
      }
    }
    .nav-previous{
      a:before{
        content: '\f053';
        float: left;
      }
    }
    .nav-next{
      margin-left: -1px;
      text-align: right;
      a:before{
        content: '\f054';
        float: right;
      }
    }
  }
}