@import "tps-variables";

.tps-breadcrumbs{
  background: #fff;
  margin-bottom: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top: 1px solid $tps-general-border-color;
  border-bottom: 1px solid $tps-general-border-color;
  color: $text-muted;

  &.breadcrumb{
    padding-left: 0;
    padding-right: 0;
  }
  #breadcrumbs{
    @include tps-scroll-y();
    > span > span[typeof="v:Breadcrumb"] > a{
      font-size: 0;
      &:before{
        content:"\f015";
        font-family: "FontAwesome";
        font-size: 26px;
        vertical-align: -8%;
      }
      & + span{
        display: none;
      }
    }
  }
  a{
    color: $text-muted;
    &:hover,
    &:focus{
      color: $link-color;
      text-decoration: none;
    }
  }
}