@import "tps-variables";

.btn{
  @include transition(all 150ms linear);
}

.tps-btn{
  color: #fff;
  background: rgba($gray-dark, 0.8);
  @include transition(all 150ms linear);
  font-size: 12px;
  &:hover,
  &:focus{
    color: #fff;
  }
}

.tps-btn-social{
  color: $text-color !important;
  border: 1px solid transparent;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  padding: 8px 5px 7px;
  margin: 5px 5px 0 0;
  @include transition(all 500ms ease);
  &:hover,
  &:focus{
    color: #fff !important;
    @include rotate(360deg);
  }
  @media (max-width: $screen-phone) {
    color: #fff !important;
  }
}

.tps-btn-video{
  &,
  &:hover {
    background: $tps-btn-video-background-color;
  }
}

.tps-btn-featured{
  &,
  &:hover {
    background: $tps-btn-featured-background-color;
  }
}

.tps-btn-onsale{
  &,
  &:hover {
    background: $tps-btn-onsale-background-color;
  }
}

.tps-btn-share-container {
  .tps-btn-share{
    background: transparentize(#fff, 0.15);
    color: $text-color;
    &:hover {
      color: #fff;
      background: transparentize($tps-btn-share-background-color, 0.15);
    }
  }
}

.tps-btn-facebook{
  &:hover,
  &:focus{
    background: #3b5998;
  }
  @media (max-width: $screen-phone) {
    background: #3b5998;
  }
}

.tps-btn-twitter{
  &:hover,
  &:focus{
    background: #1da1f2;
  }
  @media (max-width: $screen-phone) {
    background: #1da1f2;
  }
}

.tps-btn-pinterest{
  &:hover,
  &:focus{
    background: #bd081c;
  }
  @media (max-width: $screen-phone) {
    background: #bd081c;
  }
}

.tps-btn-google-plus{
  &:hover,
  &:focus{
    background: #dd4b39;
  }
  @media (max-width: $screen-phone) {
    background: #dd4b39;
  }
}

.tps-btn-youtube{
  &:hover,
  &:focus{
    background: #cd201f;
  }
  @media (max-width: $screen-phone) {
    background: #cd201f;
  }
}

.tps-btn-instagram{
  &:hover,
  &:focus{
    background: #c13584;
  }
  @media (max-width: $screen-phone) {
    background: #c13584;
  }
}

.tps-btn-email{
  &:hover,
  &:focus{
    background: #febe12;
  }
  @media (max-width: $screen-phone) {
    background: #febe12;
  }
}

@mixin tps-btn-tag{
  position: relative;
  border: 0;
  margin-right: 20px;
  height: 36px;
  padding-top: 7px;
  &:before{
    content:"";
    float:left;
    position:absolute;
    top:0;
    right:-18px;
    width:0;
    height:0;
    border-style:solid;
    border-width:18px 0px 18px 18px;
    border-color:transparent transparent transparent rgba($gray-dark, 0.8);
  }
  &:after{
    content:"";
    position:absolute;
    top:16px;
    right:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
  }
}
