.woocommerce-checkout .woocommerce-info{
  margin: 0;
  margin-bottom: 20px;
}

//.create-account input{
//  margin-left: 0 !important;
//}

.tps-checkout-cards{
  margin-top: 10px;
  text-align: center;
}



.wc_payment_methods.payment_methods{
  padding: 0;
  list-style: none;
  .wc_payment_method.payment_method_paypal{
    text-align: center;
  }

}

.woocommerce-thankyou-order-details{
  padding: 0;
  list-style: none;
}