@import "tps-variables";

@mixin tps-form-control-validation($text-color: #555, $border-color: #ccc, $background-color: #f5f5f5) {
  & {
    border-color: $border-color;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work
    &:focus {
      border-color: darken($border-color, 10%);
      $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($border-color, 20%);
      @include box-shadow($shadow);
    }
  }
  & + .wpcf7-not-valid-tip{
    color: $text-color;
  }
}

.wpcf7-not-valid{
  @include tps-form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
}

span.wpcf7-not-valid-tip {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: $state-danger-text;
}

div.wpcf7-response-output{
  padding: $alert-padding;
  margin: 0;
  margin-bottom: $line-height-computed;
  border: 1px solid transparent;
  border-radius: $alert-border-radius;

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }

  // Provide class for links that match alerts
  .alert-link {
    font-weight: $alert-link-font-weight;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}

div.wpcf7-validation-errors,
div.wpcf7-spam-blocked,
div.wpcf7-mail-sent-ng{
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

.page-contact{
  .page-content {
    font-size: 1.2em;

    .tps-social-buttons{
      text-align: center;
    }
    .tps-btn-social{
      padding: 10px 5px 8px;
      margin: 5px 5px 0 0;
      .fa-lg{
        font-size: 2em;
        line-height: 1;
        vertical-align: inherit;
      }
    }
    .tps-btn-facebook{
      padding: 11px 7px 7px 3px;
    }
  }
  .tps-image-full-height {
    height: $tps-img-medium-height;
  }
  .tps-image-text-container .tps-image-text{
    -ms-flex-item-align: auto;
    align-self: auto;
    margin-bottom: 0;
  }
  .tps-image-full-height-arrow{
    display: none;
  }
  .help-block{
    font-size: 0.8em;
    margin-bottom: 2px;
  }
}