@import "tps-variables";

.site-footer{
  padding-top: 50px;
  padding-bottom: 20px;

  hr{
    border-color: $tps-general-border-color;
  }
  .tps-footer-logo{
    display: block;
  }
  .tps-footer-social {
    > span,
    .tps-social-buttons {
      display: inline-block;
      margin: 5px 0;
    }
  }
}

.tps-footer-top{
  h3{
    margin: 0;
    padding: 7px 0;
    font-weight: normal;
  }
  a{
    color: $text-color;
    &:hover,
    &:focus{
      text-decoration: none;
      color: $link-color;
    }
  }
  .tps-footer-block {
    > div {
      margin: 5px 0;
    }
  }
}

.tps-footer-bottom{
  font-size: 0.9em;
  @media (max-width: $screen-phone){
    span{
      display: block;
    }
  }
}