@import "tps-variables";

.tps-fullwidth{
  .page-content{
    padding: 0;
  }
}
.tps-fullwidth-section{
  padding-top: 50px;
  padding-bottom: 50px;

  h2, .h2, h3, .h3{
    margin-top: 10px;
    font-weight: normal;
    font-size: 4em;
    @media (max-width: $screen-phone){
      font-size: 2em;
    }
  }
}