@import "tps-variables";

html * {
  max-height:1000000px;
}

.tps-body-background{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .site{
    background: rgba(0,0,0,0.65);
  }

  &.error404{
    background: none !important;
    .site{
      background: none;
    }
  }
}

.site{
  margin-top: $tps-menu-height;
}
.content-area{
  //padding-top: 20px;
  //padding-bottom: 20px;
  background: $tps-general-background-color;

  .woocommerce-info{
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

/*
 * mobile header font size
 */
@media (max-width: $screen-phone){
  h1, .h1 {
    font-size: floor($font-size-h1 / 1.3);
  }
  h2, .h2 {
    font-size: floor($font-size-h2 / 1.3);
  }
  h3, .h3 {
    //font-size: floor($font-size-h3 / 1.5);
  }
}

/**
 *Image with text
 */
.tps-image-full-height,
.tps-image-medium-height{
  position: relative;
  overflow: hidden;
  img{
    min-height: 100%;
    min-width: 100%;
    width: auto !important;
    height: auto;
    max-width: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
  }
}
.tps-image-full-height{
  height: $tps-img-full-height;
}
.tps-image-medium-height{
  height: $tps-img-medium-height;
}

.tps-image-text-container{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  @include tps-flex;
  @include tps-justify-content(center);
  @include tps-align-items(center);
  text-decoration: none;
  color: #fff;
  background: rgba(0,0,0,0.25);

  .tps-image-text{
    padding: 20px 40px;
    -ms-flex-item-align: end;
             align-self: flex-end;
    margin-bottom: 8%;
    max-width: 680px;
    text-align: center;
    @media (max-width: $screen-xs-max) {
      margin-bottom: 65px;
    }
    @media (max-width: $screen-xs-min) {
      padding: 20px;
      max-width: 100%;
    }
    .tps-image-title{
      //font-size: $font-size-large;
      margin-top: 15px;
      margin-bottom: 15px;
      span {
        display: inline-block;
        background: #fff;
        color: $text-color;
        @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
      }
    }
    .tps-image-promo-text{
      font-size: $font-size-h2;
      margin-top: 20px;
      margin-bottom: 20px;
      @media (max-width: $screen-phone){
        font-size: floor($font-size-h2 / 1.3);
      }
    }
  }
}

.tps-image-full-height-arrow{
  position: absolute;
  @include tps-flex;
  @include tps-justify-content(center);
  @include tps-align-items(center);
  width: 100%;
  bottom: 10px;
  z-index: 10;
  a{
    &,
    &:hover,
    &:focus{
      color: #fff;
    }
  }
}

/**
 * Tps Panel body
 */
.tps-panel-body{
  @include tps-flex;
  @include tps-justify-content(center);
  @include tps-align-items(center);
  height: 100%;
}

/*
 *Tps Small Separator
 */
.tps-small-separator{
  min-width: 60px;
  min-height: 4px;
  display: inline-block;
  background: $text-color;
  margin-top: 10px;
  margin-bottom: 40px;
}

/*
 * Tps sub header
 */
.tps-sub-header{
  color: #fff;
  margin-bottom: 10px;
  span{
    display: block;
    font-size: 1.1em;
  }
}

/*
 * Tps section
 */
.tps-section{
  margin-top: 40px;
  margin-bottom: 40px;
}

/*
 * Tps icon block
 */
.tps-icon-block{
  margin-top: 20px;
  margin-bottom: 20px;
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
  text-align: center;
  font-weight: 600;
  padding: 3px .5em;
  font-size: 1em;
  margin-top: 15px;

  &.strong {
    background-color: #c1e1b9;
    border-color: #83c373;
  }

  &.short {
    background-color: #f1adad;
    border-color: #e35b5b;
  }

  &.bad {
    background-color: #fbc5a9;
    border-color: #f78b53;
  }

  &.good {
    background-color: #ffe399;
    border-color: #ffc733;
  }
}

.woocommerce-password-hint {
  margin: .5em 0 0 0;
  display: block;
}

/**
 * Product Categories Sidebar
 */
.woocommerce.widget_product_categories{
  border: 1px solid $tps-general-border-color;
  border-bottom: none;
  ul{
    padding-left: 0px;
  }
  li{
    display: block;
  }
  a{
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid $tps-general-border-color;
    color: $text-color;
    &:hover{
      color: $brand-primary;
      text-decoration: none;
    }
  }
  .widget-title{
    border-bottom: 1px solid $tps-general-border-color;
    font-size: 1.5em;
    margin: 0;
    padding: 10px 15px;
  }
  .product-categories{
    background-color: #fff;
  }
  .children a{
    padding-left: 30px;
  }
}

/*
 * Image overlay
 */
.tps-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000;
  opacity: 0;
  @include transition(opacity 300ms linear);
}

/*
 * Alert
 */
.alert{
  margin-top: $line-height-computed;
}