@import "tps-variables";

.admin-bar .navbar-fixed-top{
  margin-top: 32px !important;
}

@media screen and (max-width: 782px) {
  .admin-bar .navbar-fixed-top {
    margin-top: 46px !important;
  }
}

@media screen and (max-width: 600px){
  #wpadminbar {
    position: fixed;
  }
}

.tps-main-navigation{
  &.navbar{
    margin-bottom: 0;
  }

  .navbar-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
     justify-content: space-between;

    .tps-menu-search {
      margin-right: 8px;
    }
  }

  .navbar-toggle{
    float: none;
    margin-right: 0px;
    margin-left: 8px;
  }
  .navbar-brand {
    padding-top: 9px;
    padding-bottom: 8px;
    float: none;
    display: block;
    @media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
      padding-top: 14px;
      padding-right: 0;
      width: 150px;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
    img {
      max-height: 100%;
      width: auto;
      margin: auto;
    }
  }
}

.navbar-header .navbar-form {
  width: auto;
  border: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  @include box-shadow(none);

  .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-control {
    display: inline-block;
    width: auto; // Prevent labels from stacking above inputs in `.form-group`
    vertical-align: middle;
  }
}