@import "tps-variables";

.hidden-xs .tps-menu-search{
  margin-left: 10px;
}

.tps-menu-search{
  margin-top: 7px;
  margin-bottom: 7px;

  .tps-menu-search-btn {
    border-color: $navbar-default-link-color;
    &:hover,
    &:focus,
    &.open{
      color: #fff;
      background-color: $brand-primary;
      border-color: $brand-primary;
    }
    i {
      width: 13px;
    }
    @media (max-width: $grid-float-breakpoint-max){
      border-color: transparent;
      color: #fff;
    }
  }
  .tps-menu-search-field{
    position: absolute;
    background: rgba(255,255,255,0.85);
    top: $tps-menu-height;
    left: 0;
    width: 100%;
    display: none;

    .navbar-form{
      padding: 0;
      position: relative;
    }
    .search-field{
      background: rgba(255,255,255,0);
      width: 100%;
      border: none;
      padding-left: 0;
      padding-right: 20px;
      @include box-shadow(none);
      &:focus {
        @include box-shadow(none);
      }
    }
    .search-submit{
      position: absolute;
      right: 0;
      top: 0;
      border: none;
    }
  }
}