@import "tps-variables";

$tps-navbar-default-bg: $brand-primary;
$tps-navbar-default-border: $tps-navbar-default-bg;
$tps-navbar-default-color: #fff;
$tps-navbar-default-link-color: $tps-navbar-default-color;
$tps-navbar-default-link-hover-color: $tps-navbar-default-color;
$tps-navbar-default-link-active-color: $tps-navbar-default-color;

$tps-navbar-default-link-active-bg: transparent;

$tps-dropdown-link-hover-color: $tps-navbar-default-color;

@media (max-width: $grid-float-breakpoint-max){
  .navbar-tps {
    background-color: $tps-navbar-default-bg;
    //border-color: $tps-navbar-default-border;
    border-bottom: none;

    //.navbar-brand {
    //  color: $navbar-default-brand-color;
    //  &:hover,
    //  &:focus {
    //    color: $navbar-default-brand-hover-color;
    //    background-color: $navbar-default-brand-hover-bg;
    //  }
    //}

    .navbar-text {
      color: $tps-navbar-default-color;
    }

    .navbar-nav {
      margin-top: 0;
      margin-bottom: 0;
      > li > a {
        color: $tps-navbar-default-link-color;
        border-bottom: 1px solid darken($tps-navbar-default-bg, 7%);

        &:hover,
        &:focus {
          color: $tps-navbar-default-link-hover-color;
          background-color: $navbar-default-link-hover-bg;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $tps-navbar-default-link-active-color;
          background-color: $navbar-default-link-hover-bg;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-default-link-disabled-color;
          background-color: $navbar-default-link-disabled-bg;
        }
      }
    }

    .navbar-toggle {
      padding: 5px 6px 5px 6px;
      border-color: $tps-navbar-default-bg;
      color: $tps-navbar-default-color;
      &:hover,
      &:focus{
        background-color: $tps-navbar-default-bg;
        //border-color: $tps-navbar-default-color;
        .icon-bar{
          background-color: $tps-navbar-default-color;
        }
      }
      .icon-bar {
        background-color: $tps-navbar-default-color;
      }
    }

    .navbar-collapse {
      border-color: darken($tps-navbar-default-bg, 7%);
      background-color: darken($tps-navbar-default-bg, 3%);
    }

    // Dropdown menu items
    .navbar-nav {
      // Remove background color from open dropdown
      > .open > a {
        &,
        &:hover,
        &:focus {
          background-color: $navbar-default-link-hover-bg;
          color: $tps-navbar-default-link-active-color;
          border-color: darken($tps-navbar-default-bg, 7%);
        }
      }

      .dropdown-menu{
        background: $tps-navbar-default-bg;
        .tps-menu-subcat.tps-last{
          border: none;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }

      //@media (max-width: $grid-float-breakpoint-max) {
      //  // Dropdowns get custom display when collapsed
        .open .dropdown-menu {
          > li > a {
            color: $tps-navbar-default-link-color;
            padding-left: 15px;
            &:hover,
            &:focus {
              color: $tps-navbar-default-link-hover-color;
              background-color: $navbar-default-link-hover-bg;
            }
          }
          > .active > a {
            &,
            &:hover,
            &:focus {
              color: $tps-navbar-default-link-active-color;
              background-color: $tps-navbar-default-link-active-bg;//
              text-decoration: underline;
            }
          }
          > .disabled > a {
            &,
            &:hover,
            &:focus {
              color: $navbar-default-link-disabled-color;
              background-color: $navbar-default-link-disabled-bg;
            }
          }
        }
      //}
    }


    // Links in navbars
    //
    // Add a class to ensure links outside the navbar nav are colored correctly.

    .navbar-link {
      color: $tps-navbar-default-link-color;
      &:hover {
        color: $tps-navbar-default-link-hover-color;
      }
    }

    .btn-link {
      color: $tps-navbar-default-link-color;
      &:hover,
      &:focus {
        color: $tps-navbar-default-link-hover-color;
      }
      &[disabled],
      fieldset[disabled] & {
        &:hover,
        &:focus {
          color: $navbar-default-link-disabled-color;
        }
      }
    }

    // Hover/Focus state
    .dropdown-menu > li > a {
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }

    // Active state
    .dropdown-menu > .active > a {
      &,
      &:hover,
      &:focus {
        color: $tps-dropdown-link-hover-color;
        text-decoration: none;
        outline: 0;
        background-color: transparent;
      }
    }

    .dropdown-toggle{
      position: relative;
      .fa {
        position: absolute;
        right: 15px;
        top: 13px;
      }
    }
  }
}