@import "tps-variables";

//submenu styling
.dropdown-submenu {
  position: relative;

  > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
  }

  &:hover > .dropdown-menu {
    display: block;
  }

  > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }

  &:hover > a:after {
    border-left-color: #fff;
  }

  &.pull-left {
    float: none;
    > .dropdown-menu {
      left: -100%;
      margin-left: 10px;
      -webkit-border-radius: 6px 0 6px 6px;
      -moz-border-radius: 6px 0 6px 6px;
      border-radius: 6px 0 6px 6px;
    }
  }
}


.dropdown-menu {
  .tps-menu-cat {
    a {
      font-weight: $tps-bold;
      cursor: default;
      &:hover {
        background: none;
      }
    }
  }

  .tps-menu-subcat {
    &:not(.active) a {
      color: $brand-primary;
    }
    &.tps-last {
      border-bottom: 1px solid $tps-general-border-color;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
  }
}


// TPS navbar
.navbar-tps {
  background-color: $navbar-default-bg;
  border-color: $navbar-default-border;

  .navbar-brand {
    color: $navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $navbar-default-brand-hover-color;
      background-color: $navbar-default-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-default-link-color;

      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
        @media (min-width: $grid-float-breakpoint) {
          @include box-shadow(inset 0px 2px 0px 0px $text-color);
        }

      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-hover-bg;
        @media (min-width: $grid-float-breakpoint) {
          @include box-shadow(inset 0px 2px 0px 0px $brand-primary);
        }
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
        @media (min-width: $grid-float-breakpoint) {
          @include box-shadow(inset 0px 2px 0px 0px $tps-general-border-color);
        }
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-default-link-color;
    &:hover,
    &:focus{
      background-color: $brand-primary;
      border-color: $brand-primary;
      .icon-bar{
        background-color: #fff;
      }
    }
    .icon-bar {
      background-color: $navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-default-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-default-link-hover-bg;
        color: $navbar-default-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-default-link-color;
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $navbar-default-link-color;
    &:hover {
      color: $navbar-default-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-default-link-color;
    &:hover,
    &:focus {
      color: $navbar-default-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
      }
    }
  }

  // Hover/Focus state
  .dropdown-menu > li > a {
    &:hover,
    &:focus {
      background-color: transparent;
      @media (min-width: $grid-float-breakpoint) {
        @include box-shadow(inset 2px 0px 0px 0px $text-color);
      }
    }
  }

  // Active state
  .dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
      color: $dropdown-link-hover-color;
      text-decoration: none;
      outline: 0;
      background-color: transparent;
      @media (min-width: $grid-float-breakpoint) {
        @include box-shadow(inset 2px 0px 0px 0px $brand-primary);
      }
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-tps {
    .navbar-nav {
      .tps-menu-logged-out {
        margin-top: 7px;
        a {
          padding-top: 6px !important;
          padding-bottom: 6px !important;
          line-height: 1.42857;
          border: 1px solid $navbar-default-link-color;
          @include box-shadow(none !important);

          &:hover,
          &:focus {
            color: #fff;
            background-color: $brand-primary;
            border-color: $brand-primary;
            @include transition(all 150ms ease);
          }
        }
      }
    }
    .dropdown-menu > li.tps-menu-cat > a {
      &:hover,
      &:focus {
        @include box-shadow(none !important);
      }
    }
  }
}

@media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
  .navbar-tps {
    .navbar-nav {
      .tps-menu-logged-out {
        margin-top: 7px;
        &>a {
          padding-top: 6px !important;
          padding-bottom: 6px !important;
          line-height: 1.42857;
          border: 1px solid $navbar-default-link-color;
          @include box-shadow(none !important);

          &:hover,
          &:focus {
            color: #fff;
            background-color: $brand-primary;
            border-color: $brand-primary;
            @include transition(all 150ms ease);
          }
        }

        &>a{
          font-size: 0;
          color: $text-color;

          &:before{
            content: '\f007';
            font-family: "FontAwesome";
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}


.navbar-tps {
  .navbar-nav {
    .tps-menu-logged-in {

      @media (min-width: $screen-sm-min) {
        margin-top: 7px;
        & > a {
          padding: 17px !important;
          border: 1px solid $navbar-default-link-color;
          @include box-shadow(none !important);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &:hover,
          &:focus {
            color: #fff;
            background-color: $brand-primary;
            border-color: $brand-primary;
            //@include transition(all 150ms ease);
          }
        }
      }

      @media (max-width: $screen-xs-max){
        & > a {
          background-image: none !important;
        }
      }
    }
  }
}