@import "tps-variables";

/* General My Account page*/

.tps-body-background .tps-myaccount{
  background: transparent;
}

.tps-myaccount{
  .woocommerce-MyAccount-navigation{
    .list-group-item{
      padding: 0;

      a{
        display: block;
        padding: 10px 15px;
        color: $text-color;

        &:hover,
        &:focus{
          color: $link-color;
          text-decoration: none;
        }
      }

      &.is-active{
        background: $brand-primary;
        a{
          color: #fff !important;
        }
      }
    }
  }
  .woocommerce-MyAccount-content{
    .page-title{
      margin-top: 0;
    }
  }

  .woocommerce-MyAccount-orders{
    .button{
      margin: 0 10px;
    }
  }
}

.tps-my-account-avatar{
  padding: 10px;
  img{
    margin: 0 auto;
    display: block;
    height: auto;
    max-width: 100%;
  }
}

/* Login - Register form*/
body:not(.logged-in) .tps-myaccount{
  min-height: $tps-img-full-height;

  .h1{
    color: #fff;
  }
}

.tps-menu-logged-in{
  display: none !important;
}
.tps-menu-logged-out{
  display: block;
}

.logged-in{
  .tps-menu-logged-in{
    display: block !important;
  }
  .tps-menu-logged-out{
    display: none;
  }
}

.tps-login-page{
  padding-top: 130px;
  padding-bottom: 50px;

  .login,
  .tps-new-account,
  .tps-already-account,
  .register{
    padding: 30px;
    background: #fff;
    margin-bottom: 20px;
    border: 1px solid $tps-general-border-color;
//    @include box-shadow(0 0 0 2px #f2f2f2);
  }

  .tps-register-btn:hover{
    text-decoration: none;
    .tps-new-account,
    .tps-already-account {
      div.tps-register-btn-primary {
        text-decoration: underline;
      }
    }
  }

  .tps-new-account,
  .tps-already-account{
    background: #f2f2f2;
    color: $text-color;
    @include transition(background 300ms ease);

    div.tps-register-btn-primary{
      color: $brand-primary;
    }

    &:hover{
      background: #fff;
    }
  }

  .apsl-login-networks{
    text-align: center;
    .apsl-icon-block{
      margin-right: 0;
      width: 100%;
    }
  }
}

@media (max-width: $screen-phone){
  .tps-login-page{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// Lost password
.tps-reset-password{
  padding-top: 130px;
  padding-bottom: 50px;

  p {
    color: #fff;
    text-align: center;
  }

  .tps-reset-wrapper{
    padding: 30px;
    background: #fff;
    margin-bottom: 20px;
    border: 1px solid $tps-general-border-color;

    .woocommerce-message{
      margin-top: 0;
    }
    p {
      color: $text-color;
    }

  }
}

//My address edit form
.address-field {
  .country_select a,
  .select2-container--default .select2-selection--single,
  #billing_state{
    display: block;
    width: 100%;
    height: $input-height-large;
    padding: $padding-large-vertical $padding-large-horizontal;
    font-size: $font-size-large;
    line-height: $line-height-large;
    border-radius: $input-border-radius-large;

    color: $input-color;
    background-color: $input-bg;
    background-image: none;
    border: 1px solid $input-border;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
    @include form-control-focus;
    @include placeholder;
    &::-ms-expand {
      border: 0;
      background-color: transparent;
    }
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
    right: 10px;
  }
}