@import "tps-variables";

span.onsale {
  padding: 5px;
  font-size: 1em;
  font-weight: 700;
  position: absolute;
  text-align: center;
  top: 0;
  margin: 0;
  background-color: $tps-onsale-background-color;
  color: $tps-onsale-font-color;
  -webkit-font-smoothing: antialiased;
}