@import "tps-variables";

.tps-posts-categories{
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 34px;
  &, ul{
    list-style: none;
    display: block;
    padding-left: 0;
  }

  a{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid $tps-general-border-color;
    background: #fff;
    margin-right: 5px;
    float: left;
    color: $text-muted;
    text-decoration: none;
    &:hover{
      color: $text-color;
      text-decoration: none;
    }
  }
  //&, ul {
  //  list-style: none;
  //  display: block;
  //  padding: 0;
  //  padding-bottom: 40px;
  //
  //}
  //
  //li{
  //  display: block;
  //  padding: 5px 10px;
  //  border: 1px solid $tps-general-border-color;
  //  background: #fff;
  //  margin-right: 5px;
  //  float: left;
  //
  //  > a{
  //    color: $text-muted;
  //    text-decoration: none;
  //    &:hover{
  //      color: $text-color;
  //      text-decoration: none;
  //    }
  //  }
  //}

  .current-cat > a{
    font-weight: $tps-bold;
  }

  //.children{
  //  display: none;
  //  position: absolute;
  //  left: 0;
  //  top: 40px;
  //}

  .current-cat .children,
  .current-cat-parent .children{
    //display: block;
  }
}