@import "tps-variables";

.page-press-and-media{
  .page-content > .tps-section:first-child{
    margin-top: 0;
  }
  .tps-section{
    h3, .h3{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .panel{
    height: 10em;
    padding-left: 20px;
    padding-right: 20px;
  }
}