@import "tps-variables";

.tax-product_cat{
  .content-area{
    padding-top: 0;
  }
}
.tps-product-category-image-container {
  position: relative;
  img {
    width: 100%;
  }
}

.tps-product-cat-description .term-description{
  margin: 20px 0;
}

.tps-product-category-before-grid{
  margin-top: 20px;
  margin-bottom: 20px;
}

.products{
  .product{
    margin-top: 20px;
    margin-bottom: 20px;
    @media (max-width: $screen-phone) {
      font-size: 14px;
    }

    .tps-product-container {
      position: relative;
      border: 1px solid $tps-general-border-color;
      @include tps-image-box-shadow();

      &:hover{
        .tps-product-icons,
        .tps-star-rating{
          @include transition(opacity 300ms linear);
          opacity: 1;
        }
        .tps-overlay{
          opacity: .15;
        }
      }
    }
    .tps-product-image{
      position: relative;
    }
    //woocommerce no image
    .woocommerce-placeholder{
      display: block;
      max-width: 100%;
      height: auto;
    }
    .tps-star-rating{
      position: absolute;
      bottom: 10px;
      display: block;
      opacity: 0;
      width: 100%;
      text-align: center;
      z-index: 1;
      .star-rating{
        display: inline-block;
      }
    }
    .tps-product-icons{
      position: absolute;
      left: 0;
      top: 10px;
      padding: 0 10px;
      width: 100%;
      @include tps-flex();
      @include tps-flex-wrap(wrap);

      @media (min-width: $screen-sm) {
        opacity: 0;
      }

      .tps-btn{
        margin: 0 5px;
        border-radius: 3px;
        @media (max-width: $screen-phone) {
          padding: 3px 6px;
        }
        span {
          display: none;
        }
      }
    }
    .tps-product-info{
      padding: 10px;
      padding-bottom: 5px;
      background: #fff;
    }
    .tps-product-info > a {

      color: $text-color;

      &:hover, &:focus {
        text-decoration: none;
      }
    }
    .woocommerce-loop-product__title, .tps-categories, .price{
      margin: 5px 0px;
    }
    .tps-categories, .price{
      @include text-overflow();
      height: 1.4em;
    }
    .woocommerce-loop-product__title{
      overflow: hidden;
      font-size: 1.2em;
      font-weight: $tps-bold;
      height: 2.2em;
      @media (max-width: $screen-phone){
        font-size: 1.1em;
        font-weight: normal;
        height: 2.1em;
      }
    }
    .tps-categories{
      a {
        color: $text-muted;
      }
    }
    .price{
      display: block;
      min-height: 1.5em;
      text-align: right;
      font-weight: $tps-bold;
      @media (max-width: $screen-phone){
        text-align: left;
      }
      del{
        font-weight: normal;
        color: $gray-light;
      }
      ins{
        text-decoration: none;
      }
    }

    .tps-product-buttons{
      @include tps-flex();
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border-top: 1px solid $tps-general-border-color;

      .tps-product-buttons-left,
      .tps-product-buttons-right{
        width: 50%;
      }
      .tps-product-buttons-left{
        border-right: 1px solid $tps-general-border-color;
      }
      .tps-product-buttons-right{
      }

      .tps-btn-share,
      .tps-wishlist-btn{
        width: 100%;
        padding: 10px;
      }
      .tps-wishlist-btn{
        @include text-overflow();
        background: transparentize(#fff, 0.15);
        color: $text-color;
        font-size: 12px;
        &:hover {
          color: #fff;
          background: transparentize($tps-btn-wishlist-color, 0.15);
        }
        @media (max-width: $screen-xs-max) {
          span {
            display: none;
          }
        }
      }
    }

    .tps-product-expiry{
      position: absolute;
      width: 100%;
      padding: 0 10px;
      left: 0;
      @media (max-width: $screen-phone){
        display: none;
      }

      .tps-countdown{
        //display: block;
      }
      .countdown-finished{
        display: none;
        //color: $brand-danger;
        //@include text-overflow();
        //@media (max-width: $screen-md-max) {
        //  max-width: 80%;
        //}
        //@media (max-width: $screen-sm-max) {
        //  max-width: 65%;
        //}
      }
    }
  }
}