@import "tps-variables";

.single-product .content-area{
  padding-bottom: 0;
}

.tps-single-product.product{
  position: relative;

  .tps-product-top{
    padding-top: 40px;
    padding-bottom: 40px;
    @media (max-width: $screen-xs-max){
      padding-top: 20px;
    }
  }

  .tps-product-images{
    //.woocommerce-main-image img{
    //  border: 1px solid $tps-general-border-color;
    //  @include tps-image-box-shadow();
    //}
    //.thumbnails{
    //  margin-top: 5px;
    //  a {
    //    display: inline-block;
    //    width: 70px;
    //    height: auto;
    //    border: 1px solid $tps-general-border-color;
    //    margin-right: 5px;
    //    @include tps-image-box-shadow();
    //  }
    //}
    //@media (max-width: $screen-xs-max){
    //  margin-bottom: 40px;
    //}

    div.images {
      margin-bottom: 2em;

      img {
        display: block;
        width: 100%;
        height: auto;
        box-shadow: none;
      }

      div.thumbnails {
        padding-top: 1em;
      }

      &.woocommerce-product-gallery {
        position: relative;
      }

      .woocommerce-product-gallery__wrapper {
        transition: all cubic-bezier(0.795, -0.035, 0.000, 1.000) .5s;
      }

      .woocommerce-product-gallery__wrapper .zoomImg {
        background-color: #fff;
      }

      .woocommerce-product-gallery__image:nth-child(n+2) {
        width: 25%;
        display: inline-block;
      }

      .woocommerce-product-gallery__trigger {
        position: absolute;
        top: .5em;
        right: .5em;
        font-size: 2em;
        z-index: 9;
        width: 36px;
        height: 36px;
        background: #fff;
        text-indent: -9999px;
        border-radius: 100%;
        box-sizing: content-box;

        &:before {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          border: 2px solid #000;
          border-radius: 100%;
          position: absolute;
          top: 9px;
          left: 9px;
          box-sizing: content-box;
        }

        &:after {
          content: "";
          display: block;
          width: 2px;
          height: 8px;
          background: #000;
          border-radius: 6px;
          position: absolute;
          top: 19px;
          left: 22px;
          @include rotate(-45deg);
          box-sizing: content-box;
        }
      }

      .flex-control-thumbs {
        overflow: hidden;
        zoom: 1;
        margin: 0;
        padding: 0;

        li {
          width: 25%;
          float: left;
          margin: 0;
          list-style: none;

          img {
            cursor: pointer;
            opacity: .5;
            margin: 0;

            &.flex-active,
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    .woocommerce-product-gallery--columns-3 {
      .flex-control-thumbs li:nth-child(3n+1) {
        clear: left;
      }
    }

    .woocommerce-product-gallery--columns-4 {
      .flex-control-thumbs li:nth-child(4n+1) {
        clear: left;
      }
    }

    .woocommerce-product-gallery--columns-5 {
      .flex-control-thumbs li:nth-child(5n+1) {
        clear: left;
      }
    }

  }

  .tps-product-summary{
    .woocommerce-product-rating,
    .price,
    .tps-product-short-description,
    .tps-product-expiry,
    .tps-single-product-buttons,
    .tps-product-share{
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid $tps-general-border-color;
    }
    .product_title{
      margin: 0;
      padding-bottom: 15px;
      border-bottom: 1px solid $tps-general-border-color;
    }
    .woocommerce-product-rating{
      .woocommerce-review-link{
        display: inline-block;
        font-size: 0;
        &:hover,
        &:focus{
          text-decoration: none;
        }

        .star-rating{
          display: inline-block;
          height: 20px;
          font-size: 1.6rem;
        }

        span.count{
          display: block;
          font-size: 1.6rem;
          background: $tps-btn-featured-background-color;
          line-height: 1;
          text-align: center;
          padding: 4px 7px 3px;
          border-radius: 4px;
          color: #fff;
        }
      }
    }
    .price{
      margin-bottom: 0;
      font-size: 2em;
      font-weight: $tps-bold;
      del{
        color: $gray-light;
        font-size: 0.7em;
        font-weight: normal;
      }
      ins{
        text-decoration: none;
      }
    }
    .tps-product-short-description{
      p{
        margin-bottom: 0;
      }
    }
    .tps-product-expiry{
      .tps-countdown{
        display: inline-block;
      }
      .countdown-finished{
        color: $brand-danger;
      }
    }
    .tps-single-product-buttons{
      .cart, .tps-wishlist-add-remove-container{
        display: inline-block;
        @media (max-width: $screen-phone) {
          &, a.btn {
            width: 100%;
            @include text-overflow();
          }
        }
      }
      @media (max-width: $screen-phone){
        .tps-wishlist-add-remove-container{
          margin-top: 15px;
        }
      }
      .tps-wishlist-btn{
        color: $text-color;
        //@include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
        &:hover {
          color: $tps-btn-wishlist-color;
        }
      }
    }
    .product_meta{
      padding-top: 20px;
      span{
        display: block;
        margin-bottom: 10px;
        font-weight: $tps-bold;
        color: $gray-light;

        a{
          font-weight: normal;
        }
      }
    }
    .tps-product-icons{
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $tps-general-border-color;
      a {
        &:hover{
          text-decoration: none;
        }
        .tps-btn {
          cursor: pointer;
        }
      }
      .tps-btn{
        font-size: 1em;
        cursor: default;
        @include tps-btn-tag;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .tps-btn-video{
        background: $tps-btn-video-background-color;
        &:before{
          border-color:transparent transparent transparent $tps-btn-video-background-color;
        }
      }

      .tps-btn-featured{
        background: $tps-btn-featured-background-color;
        &:before{
          border-color:transparent transparent transparent $tps-btn-featured-background-color;
        }
      }

      .tps-btn-onsale{
        background: $tps-btn-onsale-background-color;
        &:before{
          border-color:transparent transparent transparent $tps-btn-onsale-background-color;
        }
      }
    }
  }

  .tps-product-bottom{
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .tab-content{
    .tab-pane{
      padding: 20px 0;
    }
  }
}
