@import "tps-variables";

.star-rating:not(.no-rating) {
  //float: right;
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 4.75em;
  font-family: 'FontAwesome';

  &:before {
    content: "\f006\f006\f006\f006\f006";
    color: $tps-btn-featured-background-color !important;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
  }

  span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
  }

  span:before {
    content: "\f005\f005\f005\f005\f005";
    color: $tps-btn-featured-background-color !important;
    top: 0;
    position: absolute;
    left: 0;
  }
}

p.stars {
  a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
    color: $tps-btn-featured-background-color;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      line-height: 1;
      font-family: "FontAwesome";
      content: "\f006";
      text-indent: 0;
    }

    &:hover {
      ~ a:before {
        content: "\f006";
      }
    }
  }

  &:hover {
    a {
      &:before {
        content: "\f005";
      }
    }
  }

  &.selected {
    a.active {
      &:before {
        content: "\f005";
      }

      ~ a:before {
        content: "\f006";
      }
    }

    a:not(.active) {
      &:before {
        content: "\f005";
      }
    }
  }
}
