@import "tps-variables";

.btn{
  &:active,
  &.active {
    @include box-shadow(none);
  }
}

.btn-primary {
  @include tps-button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-bg);
}

b,
strong,
optgroup,
dt,
label,
.label{
  font-weight: 500;
}

.form-group-lg select.form-control{
  font-size: 1.2em;
}