@import "tps-variables";

#reviews {
  h2 small {
    float: right;
    color: $text-color;
    font-size: 15px;
    margin: 10px 0 0 0;

    a {
      text-decoration: none;
      color: $text-color;
    }
  }

  h3 {
    margin: 0;
  }

  #respond {
    margin: 0;
    border: 0;
    padding: 0;
  }

  #comment {
    height: 75px;
  }

  #comments {
    .add_review {
      @include clearfix();
    }

    h2 {
      clear: none;
    }

    ol.commentlist {
      @include clearfix();
      margin: 0;
      width: 100%;
      background: none;
      list-style: none;
      padding-left: 0;

      li {
        padding: 0;
        margin: 0 0 20px;
        border: 0;
        position: relative;
        background: 0;
        border: 0;

        .meta {
          color: $text-color;
          font-size: 0.75em;
        }

        img.avatar {
          float: left;
          position: absolute;
          top: 0;
          left: 0;
          padding: 3px;
          width: 32px;
          height: auto;
          background: $gray-lighter;
          border: 1px solid $tps-general-border-color;
          margin: 0;
          box-shadow: none;
        }

        .comment-text {
          margin: 0 0 0 60px;
          border: 1px solid $tps-general-border-color;
          border-radius: 10px 10px 10px;
          padding: 1em 1em 0;
          @include clearfix();
          @include tps-bubble($tps-general-border-color, #fff);

          p {
            margin: 0 0 1em;
          }

          p.meta {
            font-size: 0.83em;
          }
        }
      }

      ul.children {
        list-style: none outside;
        margin: 20px 0 0 50px;
        padding-left: 0;

        .star-rating {
          display: none;
        }
      }

      #respond {
        border: 1px solid darken( $gray-lighter, 3% );
        border-radius: 4px;
        padding: 1em 1em 0;
        margin: 20px 0 0 50px;
      }
    }

    .commentlist > li:before {
      content: "";
    }
  }
}

#review_form {
  #respond {
    @include clearfix();
    position: static;
    margin: 0;
    width: auto;
    padding: 0 0 0;
    background: transparent none;
    border: 0;

    p {
      margin: 0 0 10px;
    }

    .form-submit {
      input {
        left: auto;
      }
    }

    textarea {
      box-sizing: border-box;
      width: 100%;
    }
  }
}
