@import "tps-variables";

.page-sell{
  .tps-header-section{
    .tps-header-block {
      max-width: 670px;
      margin: 0 auto;
      h2{
        font-size: 2em;
      }
      div{
        font-size: 1.3em;
      }
    }
  }
  .tps-icons-section{
    background: #fff;
  }
  .panel{
    height: 10em;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }
  .tps-panel-number{
    position: absolute;
    z-index: 0;
    font-size: 113px;
    bottom: 0;
    right: 0;
    line-height: 1;
    height: 90px;
    color: darken($tps-general-background-color, 5%);
  }
  .tps-panel-body{
    position: absolute;
    z-index:1;
    left: 20px;
    right: 20px;
  }
  .tps-contact-section {
    .btn-default {
      @include tps-button-variant($btn-default-color, $btn-default-bg, $btn-default-bg);
    }
  }

  .tps-contact-section{
    background: $brand-primary;
    color: #fff;
  }

  .tps-pricing-section{
    .tps-pricing-plan{
      position: relative;
      padding: 35px 25px;
      margin-bottom: 25px;
      background: #fff;
      text-align: center;

      &.tps-pricing-popular{
        @include tps-image-box-shadow();

        .badge{
          color: #fff;
          position: absolute;
          font-size: 12px;
          left: 50%;
          top: -14px;
          background: $brand-primary;
          padding: 8px 15px;
          border-radius: 0;
          @include translate(-50%, 0);
          &:before,
          &:after{
            content: '';
            position: absolute;
            border: 15px solid transparent;
            z-index: -1;
            top: 0;
          }
          &:before{
            left: -30px;
            border-right-color: #fff;
          }
          &:after{
            right: -30px;
            border-left-color: #fff;
          }
        }
      }
    }
    .tps-pricing-head{
      .name{
        padding-bottom: 20px;
        font-size: 13px;
        text-transform: uppercase;
      }
      .price {
        position: relative;
        ins{
          text-decoration: none;
        }
        > .woocommerce-Price-amount,
        > ins{
          display: block;
          font-size: 30px;
          line-height: normal;
          @include transition(all .25s ease);
        }
        > del{
          position: absolute;
          bottom: -25px;
          left: 0;
          right: 0;
          display: block;
          color: $text-muted;
          font-size: 14px;
        }
      }
    }
    .tps-pricing-body{
      padding-top: 40px;
      ul{
        padding-left: 0;
        list-style: none;
        font-size: 13px;
        color: $text-muted;
        li{
          margin: 12px 0;
          strong{
            font-size: 1.2em;
          }
        }
      }
    }
    .tps-pricing-footer{
      padding-top: 30px;

      .btn-default{
        border-color: $text-color;

        &:focus,
        &:hover{
          color: #fff;
          background-color: $brand-primary;
          border-color: $brand-primary;
        }
      }
    }

    .tps-pricing-plan:hover{
      .tps-pricing-head{
        .price{
          > .woocommerce-Price-amount,
          > ins {
            color: $brand-primary;
          }
        }
      }
      .tps-pricing-footer{
        .btn-default{
          color: $brand-primary;
          border-color: $brand-primary;
          &:focus,
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }

  //.tps-checks-section{
  //  background: $brand-primary;
  //  color: #fff;
  //
  //  .tps-small-separator{
  //    background: #fff;
  //  }
  //  .tps-checks-block{
  //    @media (max-width: $screen-xs-max) {
  //      text-align: center;
  //    }
  //
  //    > div {
  //      padding-top: 10px;
  //      padding-bottom: 10px;
  //    }
  //  }
  //}
}