@import "tps-variables";

.owl-carousel {
  display: block !important;
  > * {
    display: none;
    visibility: hidden;
  }
  > :first-child,
  > .owl-stage-outer {
    display: block;
    visibility: visible;
  }
}

.tps-slider-wrapper {
  &.tps-image-full-height {
    .tps-slider-image-container {
      position: relative;
      height: $tps-img-full-height;
      overflow: hidden;
    }
  }

  .tps-slider-image.owl-lazy {
    opacity: 0;
  }

  .tps-slider-spinner {
    color: $text-color;
    display: none;
  }

  .tps-slider-lazy {
    .tps-slider-spinner {
      display: block;
    }
    .tps-image-text {
      display: none;
    }
  }

  .btn-primary{
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-width: 2px;
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);

    @media (max-width: $screen-xs-max) {
      @include text-overflow();
      display: block;
    }

    &:active{
      &:focus,
      &:hover{
        color: $text-color;
        background: #ddd;
        border-color: #ddd;
      }
    }
    //&:focus,
    &:hover{
      color: $text-color;
      background: #fff;
      border-color: #fff;
    }
  }
}

.owl-nav{
  display: none;
  .owl-prev,
  .owl-next{
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 28px;
    margin-top: -14px;
    color: #fff;
  }
  .owl-next{
    left: auto;
    right: 0;
  }
}

@media (min-width: $screen-tablet) {
  .owl-carousel:hover .owl-nav{
    display: block;
    visibility: visible;
  }
}