@import "tps-variables";

.nav-tabs {
  border-bottom: 1px solid $nav-tabs-border-color;
  > li {

    // Actual tabs (as links)
    > a {
      border: none;
      border-bottom: 2px solid transparent ;
      &:hover {
        background: transparent;
        border-color: transparent;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-tabs-active-link-hover-color;
        background-color: $nav-tabs-active-link-hover-bg;
        //border: 1px solid $nav-tabs-active-link-hover-border-color;
        //border-bottom-color: transparent;
        border: none;
        border-bottom: 2px solid $brand-primary ;
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
    @extend .nav-justified;
    @extend .nav-tabs-justified;
  }
}