@import "tps-variables";

.tps-product-summary {
  .tps-converted-price {
    font-size: 0.5em;
    font-weight: normal;
    display: block;
  }
  .tps-converted-currency {
    display: none;
  }
  small.tps-converted-currency {
    font-size: 0.7em;
  }
  .tps-selected {
    display: inline;
  }
}

.tps-converted-currency .woocommerce-Price-currencySymbol{
  margin-left: 3px;
  margin-right: 3px;
}

#tps_currency_modal{
  .modal-dialog{
    margin: 30vh auto;
  }
  .modal-header,
  .modal-body{
    padding-left: 25px;
    padding-right: 25px;
  }
  .tps-currency-list{
    a:hover{
      text-decoration: none;
    }
    small{
      color: $text-color;
    }
  }
  .tps-curr-selected{
    color: $text-color;
  }

}