@import "tps-variables";

@-webkit-keyframes tps-bounce {
  0%, 20%, 50%, 80%, 100% {
    @include translate(0,0);
  }
  40% {
    @include translate(0,-30px);
  }
  60% {
    @include translate(0,-15px);
  }
}

@-moz-keyframes tps-bounce {
  0%, 20%, 50%, 80%, 100% {
    @include translate(0,0);
  }
  40% {
    @include translate(0,-30px);
  }
  60% {
    @include translate(0,-15px);
  }
}

@keyframes tps-bounce {
  0%, 20%, 50%, 80%, 100% {
    @include translate(0,0);
  }
  40% {
    @include translate(0,-30px);
  }
  60% {
    @include translate(0,-15px);
  }
}

.tps-bounce{
  @include animation(tps-bounce 2s infinite);
}