@import "tps-bootstrap-variables";
// Colors

$tps-onsale-background-color: orange;
$tps-onsale-font-color: #fff;

$tps-general-border-color: #ddd;

$tps-btn-video-background-color: #F26253;
$tps-btn-featured-background-color: #F0C333;
$tps-btn-onsale-background-color: #00a885;
$tps-btn-share-background-color: $brand-primary;
$tps-btn-wishlist-color: #ff4c5f;

$tps-general-background-color: #f8f8f8;

$tps-bold: 500;

$tps-menu-height: 50px;
$tps-img-full-height: calc(100vh - 50px);
$tps-img-medium-height: calc(70vh - 50px);


@mixin tps-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin tps-justify-content($position){
  -webkit-box-pack: $position;
  -ms-flex-pack: $position;
  justify-content: $position;
}

@mixin tps-flex-wrap($wrap){
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin tps-align-items($position){
  -webkit-box-align: $position;
  -ms-flex-align: $position;
  align-items: $position;
}

@mixin tps-image-box-shadow($alpha:0.1){
  @include box-shadow(0px 0px 15px 0px rgba(0,0,0,$alpha));
  &:hover{
    @include box-shadow(0px 0px 15px 0px rgba(0,0,0,$alpha * 1.5));
  }
}

@mixin tps-scroll-y(){
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin tps-button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 5%);
    border-color: darken($border, 5%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 5%);
    border-color: darken($border, 5%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 5%);
    border-color: darken($border, 5%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 5%);
      border-color: darken($border, 5%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

@mixin tps-btn(){
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  @include user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }
}

@mixin tps-bubble($border-color, $background-color){

  position: relative;

  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px;
    border-color: $background-color $background-color transparent transparent;
    display: block;
    width: 0;
    z-index: 1;
    left: -22px;
    top: 11px;
  }

  &:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px;
    border-color: $border-color $border-color transparent transparent;
    display: block;
    width: 0;
    z-index: 0;
    left: -24px;
    top: 10px;
  }
}