@import "tps-variables";

.tps-shortcode-grid-header{
  margin-top: 40px;
  margin-bottom: 20px;
}

.tps-shortcode.container{
  padding-bottom: 40px;
}

.page-content.container > .tps-shortcode.container{
  padding-right: 0;
  padding-left: 0;
}