//@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');
//@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
//@import url('https://fonts.googleapis.com/css?family=Poppins:400,500');
//@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
//@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');

@import "tps-fonts";
@import "tps-bootstrap";
@import "resets";
@import "general";
@import "header";
@import "menu";
@import "menu-responsive";
@import "menu-search";
@import "breadcrumbs";
@import "footer";
@import "slider";
@import "buttons";
@import "tabs";

@import "homepage";
@import "default-page";
@import "fullwidth";
@import "tps-shortcodes";
@import "rating";
@import "onsale";
@import "products";
@import "product";
@import "myaccount-page";
@import "sell-page";
@import "about-page";
@import "press-page";
@import "contact-page";
@import "checkout-page";
@import "blog-grid";
@import "blog-single";
@import "posts-categories";
@import "tps-currency";
@import "404";
@import "reviews";

@import "tps-animations";